/*Imports =====================*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

/*Designs =====================*/
body{
    font-family: 'Nunito', sans-serif;
}

.main-heading{
    text-align: center;
    padding-top: 2%;
    margin-top: 1%;
}

.main-register{
    display: flex;
    padding: 8% 12%;
    padding-top: 3%;
}

.register-card{
    border: 2px solid rgb(148, 148, 148);
    border-radius: 10px;
    text-align: center;
    margin: 1%;
    padding: 2%;
    transition: .3s;
}

.register-card:hover{
    box-shadow: 5px 5px 15px rgb(252, 103, 103);
    transition: .3s;  
    border: 2px solid rgb(252, 103, 103); 
}

.register-card a img{
    max-width: 70%;
    margin: 3%;
}

.register-card h3{
    padding: 2%;
    font-size: 150%;
}

/*Mobile View*/
@media only screen and (max-width: 770px) {

    /*Designs =====================*/
    body{
        font-family: 'Nunito', sans-serif;
    }

    .main-heading{
        text-align: center;
        padding-top: 2%;
        margin-top: 10%;
    }

    .main-register{
        display: block;
        padding: 8% 12%;
        padding-top: 2%;
        height: 600px;
    }

    .register-card{
        border: 2px solid rgb(148, 148, 148);
        border-radius: 10px;
        text-align: center;
        margin: 1%;
        padding: 2%;
        transition: .3s;
    }

    .register-card:hover{
        box-shadow: 5px 5px 15px rgb(252, 103, 103);
        transition: .3s;  
        border: 2px solid rgb(252, 103, 103); 
    }

    .register-card a img{
        max-width: 50%;
        margin: 3%;
    }

    .register-card h3{
        padding: 2%;
        font-size: 150%;
    }

}